#app {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1c1c1d !important;
  background-color: #fbfbfb;
}
a {
  text-decoration: none;
  color: #1c1c1d !important;
  font-weight: bold !important;
  z-index: 100;
}
body {
  overflow: hidden;
}
.v-main {
  background-color: #fbfbfb;
  z-index: 0;
}
.theme--light.v-sheet--outlined {
  border: none;
}
.theme--light.v-sheet {
  background-color: #fbfbfb;
  color: #1c1c1d;
}
.v-btn {
  &__content {
    font-weight: bold;
  }
}
.v-tab {
  font-weight: bold;
}
.theme--light.v-card .v-card__title {
  font-weight: bold !important;
}
.v-list {
  background-color: #fbfbfb !important;
}
.v-data-table tr:nth-child(odd) td {
  background: #fbfbfb;
}
.v-data-table tr:hover td {
  background-color: #cbdee9;
}